.admin-newsListContainer {
    background-color: var(--white);
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

.admin-title {
    margin: 20px 0;
    color: var(--blue);
    font-size: 35px;
    font-weight: bold;
}

.admin-newsList {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.admin-noNews {
    color: #8d99ae;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    font-size: 20px;
}

.admin-noNews h2 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
}

.admin-noNewsIcon {
    font-size: 50px;
}

.admin-tableHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    padding-bottom: 5px;
}

.admin-tableHeader h2 {
    width: 15%;
    color: #808080;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}

.admin-addNewsButton {
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    background-color: var(--blue);
    color: white;
    font-size: 40px;
}
