.inputField-container {
    margin: 10px 0;
    position: relative;
    width: 100%;
    display: flex;
}

.inputField-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.inputField {
    padding: 10px 10px 10px 40px;
    background-color: var(--background);
    color: white;
    border: 1px solid white;
    font-family: var(--font);
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
}

::placeholder {
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    opacity: 1;
}
