:root {
    --background:#457b9d;
    --green: #239284;
    --green2: #2a9d8f;
    --white: #f1faee;
    --blue: #1d3557;
    --purple: #785964;
    --gray: #71816D;
    --crimson: #e63946;
    --bold: 500;
    --thin: 300;
    --font: 'Ubuntu', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--background);
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

#root {
    height: 100%;
}
