:root {
    --background:#785964;
    --green: #49A078;
    --green2: #40996f;
    --white: #E3E3E3;
    --blue: #08415C;
    --purple: #785964;
    --gray: #71816D;
    --bold: 500;
    --thin: 300;
    --font: 'Ubuntu', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--background);
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

#root {
    height: 100%;
}
